h1
{
/*border-bottom: 3px solid #cc9900;*/
font-family: "Arial", Helvetica, sans-serif;
color: #ffffff;
}
body
{
font-family: "Arial",Helvetica, sans-serif;
color: #000000;
font-size:40px;


}
#main
{
padding: 30px;
border-radius: 4px;
}

#header {
    position:absolute;
    top: 0px;
    left:0px;

    
    height: 130px;
    width: 1920px;
    background-image: url('http://localhost:23232/Content/Images/top_banner.jpg');
    background-repeat:no-repeat;
}
#content {
    background-image: url('http://localhost:23232/Content/Images/body_background.jpg');
    background-repeat:no-repeat;

    width:1920px;
    height:1328px;
    position: absolute;
    top:130px;
    left:0px;
}
#right_side {
    height: 1300px;
    width: 1000px;
    float: left;
    margin-top:30px;
    margin-left:60px;
}

#left_side {
    height: 200px;
    width: 400px;
    float: left;
}

#footer {
    clear: both;
    text-align: center;
}

.music_box {
    background-color:#ffffff;
    margin-bottom:30px;
    height:100px;
    width:500px;
}

input.SubmitButton{
     background-image: url('http://localhost:23232/Content/Images/submit_button1-2.png');
     border-style:none;
     width:207px;
     height:52px;
}
input.SubmitButton:hover{
    background-image: url('http://localhost:23232/Content/Images/submit_button1-2.png');
}
input.SubmitButton:active{
    background-image: url('http://localhost:23232/Content/Images/submit_button2-2.png');
}