@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    TEMP STYLE PAGE
    <div>
    @ViewBag.Message
    </div>
</body>
</html>
